.header {
  height: 67px;
  display: flex;
  padding: 10px 30px;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: transparent;
  align-self: start;
  width: 150px;
  height: 55px;
  display: block;
  position: relative;
  left: 10px;
  user-select: none;
}
