.container {
  width: 290px;
  padding: 60px 20px;
  user-select: none;
}

.h3 {
  color: rgb(175 138 138);
  font-size: 14px;
  font-weight: 500;
  position: relative;
  left: 20px;
}

.ul {
  padding: 0;
  align-items: center;
  color: rgb(238 222 222);
  font-size: 15px;
  font-weight: 500;
  margin: 5px;
}

.svg {
  width: 22px;
}

.title {
  margin: 0;
}

.link {
  display: flex;
  gap: 7px;
  text-decoration: none;
  color: rgb(238 222 222);
  padding: 9px 15px;
  border-radius: 14px;
  cursor: pointer;
}

.link:hover {
  background-color: rgb(74 49 54);
}

.link-active {
  background-color: rgb(74 49 54);
}
